@use '../mixins/breakpoints' as *;

@mixin toggleStyle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: hsl(var(--primary-color));
  cursor: pointer;

  @include respond(smallDesktop) {
    height: 3rem;
    margin: 0 auto;
  }

  &:hover,
  &:focus {
    color: hsl(var(--highlight-color));

    @include respond(smallDesktop) {
    }
  }

  &:active {
    color: hsl(var(--active-color));

    @include respond(smallDesktop) {
      transform: translate(0, 0);
    }
  }

  .icon {
    height: 2rem;
    width: 2rem;

    @include respond(smallDesktop) {
      height: 2.5rem;
      width: 2.5rem;
    }

    @include respond(largeDesktop) {
      height: 3rem;
      width: 3rem;
    }
  }

  & span {
    margin-top: -0.2rem;
    font-size: var(--fs-500);

    @include respond(largeDesktop) {
      font-size: var(--fs-600);
    }
  }
}
