@use '../../../styles/utils/mixins' as mixin;

.themeToggle {
  height: 100%;
  width: 100%;
  padding-inline: var(--padding-xs);
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mixin.transitionMain;

  .lightToggle {
    @include mixin.toggleStyle;
    @include mixin.transitionMain;
  }

  .darkToggle {
    @include mixin.toggleStyle;
    @include mixin.transitionMain;
  }

  .active {
    color: hsl(var(--active-color));
    font-weight: 700;
    border-color: hsl(var(--active-color));
    @include mixin.transitionMain;

    
  }
}
